.login-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    form{
        font-weight: 600;
        color: $cor-fonte;
        font-family: fonte;
        font-size: 20px;
        width: 500px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: $cor-branca;
        border-radius: 1.2rem;
        padding: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1.5rem;


        .input-group{
            display: flex;
            flex-direction: column;

            input{
            margin-bottom: 1rem;
            border: 2px solid rgb(210, 210, 210);
            border-radius: 15px;
            padding: 5%;
            width: 40vh;
            font-family: $fonte;
            color: $cor-fonte;
            font-size: 17px;
            }
        }

        .error{
            font-size: 0.5rem;
            color: red;
        }
    }
}