@import '../base/variaveis.scss';

.main-content{
    margin-right: 4%;
    .imagem img{
        width: 100%;
        border: 10px solid $fundo-img;
        border-radius: 8px;
        box-shadow: 0 0 0 8px $fundo-img;
    }
    .solucao{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .titulo-main-content{
            margin: 2% 2% 0 0;
            display: flex;
            flex-direction: column;
            font-size: 28px;
            color: $cor-1;
        }
        .texto-main-content{
            margin: 3% 0 0 3%;
            color: $cor-fonte;
            text-align: justify;
            background-color: $fundo-img;
            border: 10px solid transparent;
            border-radius: 8px;
            font-weight: 600;
        }

    }
}