@import './styles/base/_geral.scss';
@import './styles/components/_navbar.scss';
@import './styles/components/_sidebar.scss';
@import './styles/components/_maincontent.scss';
@import './styles/components/_cards.scss';
@import './styles/components/_footer.scss';
@import './styles/components/_button.scss';
@import './styles/components/_login.scss';

.body{
  padding: 10% 10% 2% 10%;
}

.content{
  display: flex;
  flex-direction: row;
  aside {
    width: 240vh;
    box-sizing: border-box;
  }
}

/*CARDS*/

.cards-container{
  margin-top: 4%;
  background-color: $cor-1;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  border-radius: 0.5rem;  
}